{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2019
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "strict": "warn",
    "max-len": [
      "warn",
      {
        "code": 150
      }
    ],
    "@typescript-eslint/no-shadow": "error",
    "@typescript-eslint/no-use-before-define": "warn",
    "no-caller": "error",
    "no-shadow": "warn",
    "prefer-const": "warn",
    "quotes": [
      "warn",
      "double",
      {
        "avoidEscape": true
      }
    ],
    "eqeqeq": [
      "error",
      "always"
    ],
    "no-multi-spaces": [
      "error",
      {
        "ignoreEOLComments": true
      }
    ],
    "no-cond-assign": "off",
    "camelcase": "warn",
    "eol-last": "warn",
    "indent": [
      "warn",
      2
    ]
  }
}